@import "global";
@import "fonts";

.header {
	&__top {
		min-height: 100px;
		background-color: #eef1f3;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__top-logo {
		padding-top: 18px;
	}

	&__top-content {
		display: flex;
		max-width: 550px;
		width: 100%;
		justify-content: space-between;
	}

	&__top-btn {
		margin-right: 50px;
		margin-top: 30px;
		a {
			padding: 4px 18px;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			border-radius: 18px;
			background-color: #0674ec;
			color: #ffffff;
			font-size: 14px;
			line-height: 28px;
		}
	}

	&__top-icon {
		max-width: 140px;
		width: 100%;
	}

	&__user {
		display: flex;
	}

	&__user-avatar {
		width: 50px;
		// height: 50px;
		display: block;
		margin-top: 25px;
		margin-right: 22px;

		img {
			width: 100%;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
			display: block;
		}
	}

	&__user-info {
		margin-top: 27px;
		justify-content: space-between;
		a {
			display: block;
			margin-bottom: 6px;
			color: #333333;
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
		}
		span {
			color: #0674ec;
			font-size: 15px;
		}
	}

	&__bootom {
		height: 80px;
	}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__menu-list {
		li {
			display: inline-block;
			& + li {
				margin-left: 32px;
			}
		}
		a {
			color: #333333;
			font-size: 15px;
			font-weight: 500;
			line-height: 42px;
			text-transform: uppercase;
		}
	}

	&__search {
		max-width: 360px;
		width: 100%;
		position: relative;
		input {
			&::placeholder {
				color: #898f96;
				font-size: 15px;
				line-height: 30px;
			}
			padding-left: 25px;
			padding-right: 75px;
			width: 100%;
			height: 46px;
			border-radius: 23px;
			border: 1px solid #d9dfe5;
			outline: none;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 23px;
			background-color: #0674ec;
			border: none;
			cursor: pointer;
			img {
				padding: 12px 21px;
			}
		}
	}
}

// section search ===================================================================================

.search {
	min-height: 726px;
	background-color: #441c7c;
	background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
	opacity: 0.8;
	text-align: center;
	padding-top: 185px;
	&__title {
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		color: #f3f3f8;
		font-size: 60px;
		font-weight: 700;
		line-height: 70px;
		max-width: 810px;
		margin: 0px auto;
		span {
			font-weight: 400;
			display: block;
		}
	}

	&__text {
		color: #f3f3f8;
		font-size: 20px;
		font-weight: 500;
		line-height: 72px;
		margin-top: 38px;
	}

	&__btn {
		a {
			color: #ffffff;
			font-size: 16px;
			padding: 19px 31px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			border-radius: 28px;
			border: 1px solid #ffffff;
			&:hover {
				background-color: #ffffff;
				color: #0674ec;
			}
			& + a {
				margin-left: 30px;
			}
		}
		margin-bottom: 160px;
	}

	&__body {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			max-width: 1080px;
			width: 100%;
			height: 135px;
			border-radius: 6px;
			background-color: #ffffff;
			opacity: 0.5;
			top: -26px;
			left: 0px;
			z-index: 1;
			margin: 0px 30px;
		}
		&::after {
			content: "";
			position: absolute;
			max-width: 1110px;
			width: 100%;
			height: 135px;
			border-radius: 6px;
			background-color: #ffffff;
			opacity: 0.5;
			top: -13px;
			left: 0px;
			z-index: 2;
			margin: 0 15px;
		}
		form {
			position: absolute;
			max-width: 1140px;
			height: 135px;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
			border-radius: 6px;
			background-color: #ffffff;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 3;
		}
		input {
			max-width: 807px;
			width: 100%;
			height: 55px;
			padding: 20px 200px 20px 30px;
			border-radius: 4px;
			border: 1px solid #dcdcdc;
			outline: none;
			margin: 40px 30px 40px 40px;
		}
		select {
			padding: 15px 20px;
			color: #555555;
			font-size: 16px;
			border: none;
			border-left: 1px solid #dcdcdc;
			position: absolute;
			top: 42px;
			right: 301px;
			outline: none;
		}
		button {
			border-radius: 4px;
			background-color: #0674ec;
			color: #ffffff;
			font-size: 16px;
			padding: 17px 65px;
		}
	}
}

//section info =====================================================================

.info {
	min-height: 710px;
	padding: 180px 0px 120px;
	&__inner {
		display: flex;
		justify-content: space-around;
	}

	&__inner-item {
		max-width: 360px;
		text-align: center;
		padding: 40px 30px 45px;
		width: 100%;
		&:hover {
			box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
			background-color: #ffffff;
		}
	}

	&__inner-img {
		max-width: 112px;
		max-height: 120px;
		margin: 0px auto;
		margin-bottom: 23px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			display: block;
		}
	}

	&__inner-title {
		color: #000000;
		font-size: 24px;
		margin-bottom: 22px;
	}

	&__inner-text {
		color: #555555;
		font-size: 16px;
		line-height: 30px;
		// padding: 0 10px;
	}
}

// section featured ==========================================================

.featured {
	background-color: #eff1f5;
	min-height: 850px;
	padding: 120px 0;
	font-size: 15px;

	&__inner-box {
		margin-bottom: 50px;
	}

	&__slider {
		max-width: 1140px;
	}

	&__slider-body {
		display: flex !important;
	}

	&__slider-img {
		max-width: 555px;
		min-height: 450px;
		width: 100%;
		border-radius: 4px 0 0 4px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__slider-content {
		flex: 0 1 50%;
		padding: 50px 50px 30px;
		background-color: #ffffff;
		box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
		border-radius: 0 4px 4px 0;
	}

	&__slider-title {
		color: #000000;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 15px;
	}

	&__slider-info {
		display: flex;
		align-items: center;
		margin-bottom: 34px;
	}

	&__slider-user {
		margin-right: 20px;
		color: #000000;
		font-weight: 500;
		padding-bottom: 5px;
	}

	&__slider-avatar {
		margin-right: 9px;
	}

	&__slider-cotegory {
		padding-left: 25px;
		color: #7347c1;
		position: relative;
		padding-bottom: 5px;
		&::before {
			content: "";
			background: url("../images/icon/wordpress-icon.svg") center / cover no-repeat;
			width: 16px;
			height: 16px;
			position: absolute;
			left: 0;
		}
	}

	&__slider-text {
		color: #555555;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 40px;
	}

	&__slider-categories {
		color: #868c96;
		line-height: 30px;
		margin-bottom: 44px;
		span {
			padding: 7px 14px;
			border-radius: 14px;
			background-color: #f1f3f6;
			& + span {
				margin-left: 7px;
			}
		}
	}

	&__slider-bottom {
		border-top: 1px solid #ececec;
		padding-top: 23px;
		display: flex;
		justify-content: space-between;
	}

	&__slider-icons {
		display: flex;
	}

	&__slider-praice {
		span {
			color: #ffffff;
			font-weight: 500;
			border-radius: 16px;
			background-color: #0674ec;
			padding: 5px 18px;
		}
		margin-right: 19px;
	}

	&__slider-like {
		color: #555555;
		position: relative;
		margin-right: 19px;
		svg {
			width: 16px;
			height: 14px;
			margin-right: 5px;
			fill: #7347c1;
			& path {
				fill: #7347c1;
			}
		}
	}

	&__slider-sales {
		color: #0674ec;
		svg {
			width: 14px;
			height: 14px;
			& path {
				fill: #0674ec;
			}
		}
	}
}

.slick-arrow {
	font-size: 0;
	border: none;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
	outline: none;
	&::before {
		content: "";
		width: 10px;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
	}
}
.slick-prev {
	top: -114px;
	right: 45px;
	&::before {
		content: "";
		background-image: url(../images/fonts/chevron-right.svg);
	}
}
.slick-next {
	top: -114px;
	right: 100px;
	&::before {
		content: "";
		background-image: url(../images/fonts/chevron-left.svg);
	}
}
