@import "global";

.header {
	&__top {
		min-height: 100px;
		background-color: #eef1f3;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__top-logo {
		padding-top: 18px;
	}

	&__top-content {
		display: flex;
		max-width: 550px;
		width: 100%;
		justify-content: space-between;
	}

	&__top-btn {
		margin-right: 50px;
		margin-top: 30px;
		a {
			padding: 4px 18px;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			border-radius: 18px;
			background-color: #0674ec;
			color: #ffffff;
			font-size: 14px;
			line-height: 28px;
		}
	}

	&__top-icon {
		max-width: 140px;
		width: 100%;
	}

	&__user {
		display: flex;
	}

	&__user-avatar {
		width: 50px;
		// height: 50px;
		display: block;
		margin-top: 25px;
		margin-right: 22px;

		img {
			width: 100%;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
			display: block;
		}
	}

	&__user-info {
		margin-top: 27px;
		justify-content: space-between;
		a {
			display: block;
			margin-bottom: 6px;
			color: #333333;
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
		}
		span {
			color: #0674ec;
			font-size: 15px;
		}
	}

	&__bootom {
		height: 80px;
	}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__menu {
	}

	&__menu-list {
		li {
			display: inline-block;
			& + li {
				margin-left: 32px;
			}
		}
		a {
			color: #333333;
			font-size: 15px;
			font-weight: 500;
			line-height: 42px;
			text-transform: uppercase;
		}
	}

	&__search {
		max-width: 360px;
		width: 100%;
		position: relative;
		input {
			&::placeholder {
				color: #898f96;
				font-size: 15px;
				line-height: 30px;
			}
			padding-left: 25px;
			padding-right: 70px;
			width: 100%;
			height: 46px;
			border-radius: 23px;
			border: 1px solid #d9dfe5;
			outline: none;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 23px;
			background-color: #0674ec;
			border: none;
			cursor: pointer;
			img {
				padding: 12px 21px;
			}
		}
	}
}
